<!-- 
  修改或新建. 
-->
<vue-modaltor :visible="settings" @hide="settings = false">
  <div class="modaltor">
    <div class="modaltor-title">
      <span>{{ modaltorName }}</span>
    </div>
    <div class="modaltor-body">
      <template>
        <b-container fluid>
          <b-row class="my-1" v-for="v of form">
            <b-col sm="3">
              <label>{{ v.title }}</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="type" v-model="v.input" v-bind:placeholder="v.placeholder"></b-form-input>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </div>
    <div class="modaltor-buttom">
      <b-button variant="success" v-on:click="modaltorSubmit">确认</b-button>
      <b-button variant="danger" v-on:click="settings = false">取消</b-button>
    </div>
  </div>
</vue-modaltor>
<!-- 
  操作栏. 
-->
<div class="operating">
  <div class="page">
    <select v-on:change="pageChange">
      <option v-for="v of page" v-bind:value="v">{{ v }}</option>
    </select>
  </div>
  <div class="buttom">
    <b-button v-on:click="addService">添加</b-button>
  </div>
</div>
<!-- 
  节点列表. 
-->
<b-container class="bv-example-row row-top" fluid>
  <b-row>
    <b-col>
      <div class="v-shadow list">
        <div class="list-name">
          <span>
            <i class="fas fa-server"></i>
            节点列表
          </span>
        </div>
        <div class="list-ul">
          <div class="list-li">
            <b-row>
              <b-col>
                <span>节点名称</span>
              </b-col>
              <b-col>
                <span>IP地址</span>
              </b-col>
              <b-col>
                <span>状态</span>
              </b-col>
              <b-col>
                <span>房间数</span>
              </b-col>
              <b-col>
                <span>用户数</span>
              </b-col>
              <b-col>
                <span>操作</span>
              </b-col>
            </b-row>
          </div>
          <div class="list-i" v-show="server.length === 0">
            <b-row>
              <b-col>
                <span>无结果</span>
              </b-col>
            </b-row>
          </div>
          <div class="list-i list-hover" v-for="v of server">
            <b-row>
              <b-col class="list-value">
                <span>{{ v.anotherName }}</span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v.remoteAddress }}</span>
              </b-col>
              <b-col class="list-value">
                <span>
                  <i class="fas fa-circle" v-bind:style="{
                    'color': v.type ? '#00b150' : '#f00222'                              
                  }"></i>
                </span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v.room || 0 }}</span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v.user || 0 }}</span>
              </b-col>
              <b-col class="list-value">
                <span>
                  <i class="fas fa-eye list-edit-i mhover" v-on:click="viewService(v)"></i>
                  <i class="fas fa-edit list-edit-i mhover" v-on:click="editService(v)"></i>
                  <i class="fas fa-times list-edit-i mhover" v-on:click="delService(v)"></i>
                </span>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</b-container>