<!-- 
  新建房间. 
-->
<vue-modaltor :visible="settings" @hide="settings = false">
  <div class="modaltor">
    <div class="modaltor-title">
      <span>新建房间</span>
    </div>
    <div class="modaltor-body">
      <template>
        <b-container fluid>
          <b-row style="margin-bottom: 5px;">
            <b-col sm="3">
              <label>房间名</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="type" v-model="newRoom.name" placeholder="房间名"></b-form-input>
            </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col sm="3">
              <label>输入限制</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="type" v-model="newRoom.inputLimit" placeholder="输入限制"></b-form-input>
            </b-col>
          </b-row>
          <b-row style="margin-bottom: 5px;">
            <b-col sm="3">
              <label>参与限制</label>
            </b-col>
            <b-col sm="9">
              <b-form-input type="type" v-model="newRoom.participantLimit" placeholder="参与限制"></b-form-input>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </div>
    <div class="modaltor-buttom">
      <b-button variant="success" v-on:click="modaltorSubmit">确认</b-button>
      <b-button variant="danger" v-on:click="settings = false">取消</b-button>
    </div>
  </div>
</vue-modaltor>
<!-- 
  操作栏. 
-->
<div class="operating">
  <div class="page">
    <select v-on:change="clusterChange">
      <option v-for="v of cluster" v-bind:value="v.remoteAddress">{{ v.anotherName }}</option>
    </select>
    <select v-on:change="serviceChange">
      <option v-for="v of service" v-bind:value="v._id">{{ v.name }}</option>
    </select>
    <select v-on:change="pageChange">
      <option v-for="v of page" v-bind:value="v">{{ v }}</option>
    </select>
  </div>
  <div class="buttom">
    <b-button v-on:click="addService">添加</b-button>
  </div>
</div>
<!-- 
  节点列表. 
-->
<b-container class="bv-example-row row-top" fluid>
  <b-row>
    <b-col>
      <div class="v-shadow list">
        <div class="list-name">
          <span>
            <i class="fas fa-cloud"></i>
            房间列表
          </span>
        </div>
        <div class="list-ul">
          <div class="list-li">
            <b-row>
              <b-col>
                <span>名称</span>
              </b-col>
              <b-col>
                <span>ID</span>
              </b-col>
              <b-col>
                <span>输入限制</span>
              </b-col>
              <b-col>
                <span>参与者限制</span>
              </b-col>
              <b-col>
                <span>操作</span>
              </b-col>
            </b-row>
          </div>
          <div class="list-i" v-show="room.length === 0">
            <b-row>
              <b-col>
                <span>无结果</span>
              </b-col>
            </b-row>
          </div>
          <div class="list-i list-hover" v-for="v of room">
            <b-row>
              <b-col class="list-value">
                <span>{{ v.name }}</span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v._id }}</span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v.inputLimit }}</span>
              </b-col>
              <b-col class="list-value">
                <span>{{ v.participantLimit }}</span>
              </b-col>
              <b-col class="list-value">
                <span>
                  <i class="fas fa-edit list-edit-i mhover" v-on:click="editService(v)"></i>
                  <i class="fas fa-times list-edit-i mhover" v-on:click="delService(v)"></i>
                </span>
              </b-col>
            </b-row>
          </div>
        </div>
      </div>
    </b-col>
  </b-row>
</b-container>