<!-- 
  Use data. 
-->
<script>
  let hostname = "<%= hostname %>"
  let useData = {
    <% if (model === 'viewCluster') { %>
      value: "cluster",
    <% } else if (model === 'viewRooms') { %>
      value: "room",
    <% } else { %>
      value: "<%= model %>",
    <% } %> 
    menu: [
      { 
        name: "集群管理",
        icon: "fa-database",
        show: false,
        value: [
          "console",
          "cluster",
          "service",
          "room"
        ],
        menu: [
          {
            name: "控制台",
            value: "console",
            icon: "fa-desktop",
            show: false
          },
          {
            name: "节点管理",
            value: "cluster",
            icon: "fa-server",
            show: false
          },
          {
            name: "服务管理",
            value: "service",
            icon: "fa-cloud",
            show: false
          },
          {
            name: "房间管理",
            value: "room",
            icon: "fa-home",
            show: false
          }
        ]
      },
      {
        name: "开放API管理",
        icon: "fa-globe",
        show: false,
        value: [
          "key"
        ],
        menu: [
          {
            name: "认证管理",
            value: "key",
            icon: "fa-key",
            show: false
          }
        ]
      }
    ]
  }
</script>
<title>管理后台 - <%= ({
  'console': '控制台',
  'service': '服务管理',
  'room': '房间管理',
  'user': '用户管理',
  'viewCluster': '查看服务',
  'cluster': '节点管理',
  'viewRooms': '房间管理',
  'key': '认证管理'
})[model] %></title>
<!-- 
  Module dependencies. 
-->
<meta charset="UTF-8"/>
<meta name="renderer" content="webkit"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link href="/public/images/favicon.png" mce_href="favicon.ico" rel="icon" type="image/x-icon"/>
<link type="text/css" rel="stylesheet" href="/public/css/lib/bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="/public/css/lib/bootstrap-vue.css"/>
<link rel="stylesheet" href="/public/css/lib/fontawesome.css">
<link rel="stylesheet" href="/public/css/lib/animate.css"/>
<link rel="stylesheet" href="/public/css/lib/loaders.css"/>
<link rel="stylesheet" href="/public/css/style.css"/>
<script src="/public/js/bin/gload.js"></script>
<script src="/public/js/bin/axios.js"></script>
<script src="/public/js/bin/vue.js"></script>
<script src="/public/js/bin/vue-modaltor.js"></script>
<script src="/public/js/bin/polyfill.min.js"></script>
<script src="/public/js/bin/bootstrap-vue.js"></script>
<script src="/public/js/lib.js"></script>
<!-- 
  Use dependencies. 
-->
<script src="/public/js/component/<%= model %>.js"></script>