<!-- 
  左侧菜单. 
-->
<div class="menu" v-bind:style="{
  width: menuTargetType ? '200px' : '50px',
  height: windowHeight + 'px'
}">
  <!-- 
    菜单切换显示隐藏. 
  -->
  <div class="menu-target mhover" v-on:click="menuTarget">
    <i class="fas fa-bars"></i>
  </div>
  <!-- 
    菜单项. 
  -->
  <div class="menu-ul">
    <div 
      v-for="v of menu"
    >
      <div 
        class="menu-title mhover"
        v-on:click="v.show = v.show === true ? false : true"
      >
        <i 
          class="fas" 
          v-bind:class="v.icon"
          style="text-indent: 10px;"
        ></i>
        <span 
          v-show="menuSpanType"
          v-bind:style="{
            opacity: menuTargetType ? 1 : 0                                      
          }"
        >{{ v.name }}</span>
      </div>
      <div 
        class="menu-arr" 
        v-show="v.show"
      >
        <div
          class="menu-li mhover"
          v-for="x of v.menu"
          v-bind:class="menuCheckboxClass(x)" 
          v-on:click="menuCheckbox(x.value)" 
          v-on:mouseover="x.show = true"
          v-on:mouseout="x.show = false"
        >
          <i class="fas" v-bind:class=" x.icon " v-bind:style="{
            'text-indent': menuTargetType ? '10px' : '',
            'text-align': menuTargetType ? '' : 'center',
            'color': x.show ? '#fff' : ''
          }"></i>
          <span v-show="menuSpanType" v-bind:style="{
            opacity: menuTargetType ? 1 : 0                                      
          }">{{ x.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>