
.moneyrate-type {
  width: 25%;
  border-right: 1px solid #ddd;
}

.moneyrate-conter {
  width: 25%;
  border-right: 1px solid #ddd;
}

.moneyrate-operating {
  width: 25%;
}

.moneyrate-push {
  width: 25%;
  border-right: 1px solid #ddd;
}