.li-time {
  width: 15%;
  border-right: 1px solid #ddd;
}

.li-title {
  width: 40%;
  border-right: 1px solid #ddd;
}

.li-class {
  width: 15%;
  border-right: 1px solid #ddd;
}

.li-mall {
  width: 15%;
  border-right: 1px solid #ddd;
}

.li-operating {
  width: 15%;
}

.new-news {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #eee;
}

.new-news-body {
  float: left;
  width: 68%;
  margin-right: 2%;
  padding: 10px;
  padding-bottom: 20px;
}

.new-news-body input {
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 100%;
  display: block;
  height: 30px;
  margin-bottom: 10px;
}

.new-news-image {
  float: left;
  width: 30%;
  padding: 10px;
}

.new-news-image input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 100;
}

.new-news-docker {
  display: flex;
  margin: 30px;
}

.new-news-image-docker {
  position: relative;
  border: 1px solid #ddd;
  height: 100%;
  text-align: center;
  line-height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.new-news-text {
  margin: 30px;
}

.new-news-operating {
  display: block;
  padding: 30px;
}

.new-news-operating select {
  padding: 5px 10px;
}

.new-news-operating button {
  float: right;
  border: 0;
  background-color: #0c9cf8;
  padding: 5px 10px;
  color: #fff;
  margin-left: 20px;
}