* {
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif, Consolas, Courier New, Courier, monospace, "Microsoft YaHei UI", "Microsoft YaHei", 微软雅黑, 黑体;
  font-size: 14px;
}

a {
  text-decoration:none;
}

input {
  outline: none;
}

button:hover, .mhover {
  cursor:pointer;
}

.shadow {
  box-shadow: 0 1px 1px rgba(0,0,0,0.15);
  background-color: #fff;
}

.box {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}